<ul class="rounded">

  <li class="arrow"><a href="#">Quarterly Budgets<small class="counter">0</small></a></li>

  <li class="arrow"><a href="/expenditures">Expenditures<small class="counter"><%= Expenditure.count > 0 ? Expenditure.count : 0 %></small></a></li>
  
  <li class="arrow"><a href="#">Expenditure Types<small class="counter">0</small></a></li>

</ul>